name: menstrudel
description: "Your private, offline, menstrual cycle tracker."
publish_to: 'none'

version: 1.0.0+1001

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  wear_plus: ^1.2.3
  shared_preferences: ^2.5.3
  watch_connectivity: ^0.2.3
  flutter_native_splash: ^2.4.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true