<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="hero">
    <div class="container">
        <h1>Private, Offline Period Tracker App</h1>
        <p>Menstrudel is a free, open-source, and completely offline period tracking app that puts your privacy first.</p>
        <div class="cta-buttons">
            <a href="https://github.com/J-shw/Menstrudel" class="cta-button secondary">View on GitHub</a>

            <a href="https://groups.google.com/g/menstrudel-app-testers" class="cta-button primary">
                <i class="fa-brands fa-google-play"></i>
                <span>Join on Google Play</span>
            </a>
            <a href="https://testflight.apple.com/join/VZPHnFqU" class="cta-button primary">
                <i class="fa-brands fa-apple"></i>
                <span>Join on TestFlight</span>
            </a>
        </div>
    </div>
</div>