<div class="hero">
    <div class="container">
        <h1>Private, Offline Period Tracker App</h1>
        <p>Menstrudel is a free, open-source, and completely offline period tracking app that puts your privacy first.</p>
        <div class="cta-buttons">
            <a href="https://github.com/J-shw/Menstrudel" class="cta-button secondary">View on GitHub</a>

            <a href="https://play.google.com/store/apps/details?id=com.whitticase.menstrudel" class="cta-button primary">
                <i class="fa-brands fa-google-play"></i>
                <span>Google PlayStore</span>
            </a>
            <a href="https://apps.apple.com/us/app/menstrudel/id6751970511" class="cta-button primary">
                <i class="fa-brands fa-apple"></i>
                <span>Apple AppStore</span>
            </a>
        </div>
    </div>
</div>