<section id="privacy-policy">
  <h3>Privacy Policy for Menstrudel</h3>
  <p><strong>Last Updated:</strong> 14/10/2025</p>

  <h4>No Personal Data Is Collected, Stored, or Transmitted</h4>
  <p>Menstrudel is an open-source application that prioritizes your privacy. We do not collect, store, or transmit any personal data outside of the app or your device.</p>

  <p>All cycle and pill logs are stored locally on your device only. This data includes:</p>
  <ul>
    <li>Menstrual cycles and symptoms logged</li>
    <li>Pill log data and pack configurations</li>
    <li>App Settings</li>
  </ul>

  <p>
    Data Management: You are in full control of your data. You can delete all Period and Pill logs at any time from within the app settings. Data may also be <b>Exported</b> or <b>Imported</b> at your discretion, and the resulting file is saved to a location of your choice and must be managed/deleted by you.
  </p>

  <h4>Biometric Security</h4>
  <p>
    The app includes an optional Biometrics feature (fingerprint or face recognition) to secure access to the app. This feature uses the security functions built into your device's operating system (e.g., Android Keystore, iOS Face ID/Touch ID). Menstrudel does not collect, store, or access your biometric data. The app only receives a confirmation signal from your device that the identity check was successful.
  </p>

  <h4>Permissions</h4>
  <p>Menstrudel requires the following optional permissions, which are only used to enable specific features you activate:</p>
  <ul>
      <li>Notifications (Required to alert you of tampon reminders, period due dates, and pill reminders.)</li>
      <li>Biometrics (Optional, used for local app access security.)</li>
      <li>Storage Access (Optional, required temporarily only when you choose to use the Export or Import data functions.)</li>
  </ul>
  <p>If any permission is not wanted, it can be disabled in the app settings, or by disallowing the privilege through your respective device's settings.</p>
    
  <h4>Open Source</h4>
  <p>This application is open source, and its source code is publicly available on <a href="https://github.com/J-shw/Menstrudel">GitHub</a>. You can review the code to understand how it works and verify that no personal data is collected outside of the application.</p>
</section>