<section id="privacy-policy">
  <h3>Privacy Policy for Menstrudel</h3>
  <p><strong>Last Updated:</strong> 13/08/2025</p>

  <h4>No Personal Data Is Collected</h4>
  <p>Menstrudel is an open-source application. It does not collect, store, or transmit any personal data outside of the app. All periods logged are stored on the device within the application. To delete this data, simply delete the app.</p>
  <p>This data includes:</p>
  <ul>
    <li>Menstrual cycles and symptoms logged</li>
    <li>App Settings</li>
  </ul>

  <h4>Permissions</h4>
  <p>Notification permissions are required to alert you of tampon reminders and that your period is due. If this is not wanted, the permission can be disabled in the app settings, or by disallowing the notification privilege through your respective device.</p>
  
  <h4>Open Source</h4>
  <p>This application is open source, and its source code is publicly available on <a href="https://github.com/J-shw/Menstrudel">GitHub</a>. You can review the code to understand how it works and verify that no personal data is collected outside of the application.</p>
</section>