<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "MobileApplication",
  "name": "Menstrudel",
  "operatingSystem": ["Android", "iOS"],
  "applicationCategory": "HealthApplication",
  "description": "Menstrudel is a free, open-source, and completely offline period tracking app that puts your privacy first.",
  "url": "https://menstrudel.app/",
  "offers": {
    "@type": "Offer",
    "price": "0",
    "priceCurrency": "USD"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Menstrudel"
  },
  "screenshot": [
    {
      "@type": "ImageObject",
      "url": "https://menstrudel.app/assets/images/screenshots/logs_screen.webp"
    },
    {
      "@type": "ImageObject",
      "url": "https://menstrudel.app/assets/images/screenshots/log_screen.webp"
    },
    {
      "@type": "ImageObject",
      "url": "https://menstrudel.app/assets/images/screenshots/insights_screen.webp"
    },
    {
      "@type": "ImageObject",
      "url": "https://menstrudel.app/assets/images/screenshots/pills_screen.webp"
    },
    {
      "@type": "ImageObject",
      "url": "https://menstrudel.app/assets/images/screenshots/settings_screen.webp"
    },
    {
      "@type": "ImageObject",
      "url": "https://menstrudel.app/assets/images/screenshots/tampon_reminder.webp"
    }
  ],
  
  "softwareVersion": "2.6.0",
  
  "contentRating": "IARC 3+"
}
</script>