name: 'Branch Name Check'

on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  pull-requests: write

jobs:
  check-branch-name:
    runs-on: ubuntu-latest
    steps:
      - name: 'Validate Branch Name'
        id: validate_name
        env:
          BRANCH_NAME: ${{ github.head_ref }}
        run: |
          regex="^(feature|bugfix|docs|chore|refactor|style|test)\/(app|wear|web|repo)\/[a-z0-9-]+$"

          if [[ "$BRANCH_NAME" == 'l10n_dev' ]] || [[ "$BRANCH_NAME" =~ $regex ]]; then
            echo "Branch name'$BRANCH_NAME' is valid."
            echo "is_valid=true" >> $GITHUB_OUTPUT
          else
            echo "Branch name '$BRANCH_NAME' does not match the required format."
            echo "Please use the format: <type>/<scope>/<description>"
            echo "Example: feature/web/new-contact-form"
            echo "is_valid=false" >> $GITHUB_OUTPUT
          fi

      - name: 'Add PR Comment on Failure'
        if: steps.validate_name.outputs.is_valid == 'false' 
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const branchName = "${{ github.head_ref }}";
            const commentBody = `
              :x: **Invalid Branch Name**

              The branch name \`${branchName}\` does not follow the required format.

              **Please use the format:** \`<type>/<scope>/<description>\`
              - **Example:** \`feature/web/new-contact-form\`
              
              Please rename your branch and push the changes to update this pull request.
            `;

            await github.rest.issues.createComment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              body: commentBody
            });

      - name: 'Mark Job as Failed'
        if: steps.validate_name.outputs.is_valid == 'false'
        run: exit 1
